.group-yoururlinput {
  border: 1px solid var(--color-lightslategray);
  background-color: transparent;
  font-family: var(--font-lato);
  font-size: var(--font-size-lg);
  outline: 0;
  position: absolute;
  top: 309px;
  left: 423px;
  border-radius: 0 var(--br-xl) var(--br-xl) 0;
  box-sizing: border-box;
  width: 592px;
  height: 70px;
  padding: var(--padding-14xl) var(--padding-5xl);
  color: var(--color-white);
}
.resume-upload {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 25px;
}
.text {
  position: absolute;
  top: 547px;
  left: 657px;
  width: 124px;
  height: 25px;
}
.sender-input-child {
  position: absolute;
  top: 421px;
  left: 423px;
  border-radius: var(--br-xl);
  width: 592px;
  height: 343px;
}
.sender-input-item {
  position: absolute;
  top: 606px;
  left: 647px;
  width: 144px;
  height: 36.3px;
}
.sender-input {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-200);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-lato);
}
