.instance-child {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(178.92deg, #070a17 75%, rgba(7, 13, 23, 0.07));
}
.your-database1 {
  text-decoration: none;
  position: absolute;
  width: 19.18%;
  top: 37.32%;
  left: 72.99%;
  letter-spacing: -0.01em;
  line-height: 36px;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-profile1,
.male-user {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
}
.add-profile1 {
  width: 14.89%;
  top: 37.32%;
  left: 59.72%;
  letter-spacing: -0.01em;
  line-height: 36px;
  font-weight: 700;
  background: linear-gradient(
    126.21deg,
    #6a35ee,
    #9930ef 15.28%,
    #5737ee 53.18%,
    #795ceb
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.male-user {
  top: 37px;
  left: 1307px;
  width: 97px;
  height: 60px;
  background-image: url(/public/male-user@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.deedee1,
.rectangle-container {
  position: absolute;
  color: var(--color-white);
  font-family: var(--font-lato);
}
.deedee1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 39.01%;
  width: 10.97%;
  top: 32.39%;
  left: 4.44%;
  font-size: var(--font-size-21xl);
  letter-spacing: -0.01em;
  font-weight: 900;
  text-align: left;
  display: flex;
  align-items: center;
}
.rectangle-container {
  top: 0;
  left: 0;
  width: 1440px;
  height: 142px;
  text-align: center;
  font-size: var(--font-size-5xl);
}
